/* for laptops tablets n other large displays */

@media screen and (min-width: 786px) {

    #mainTitle h1 {
        font-size: 4rem;
    }
    
    #carBookingForm input[type="text"] {
        min-width: 250px;
        max-width: 450px;
    }

    #subscribeForm input[type="text"] {
        max-width: 250px;
    }
}